@import "~bulma/sass/utilities/_all";


$navbar-item-hover-color: none;
$navbar-item-hover-background-color: none;
$navbar-item-active-color: none;
$navbar-item-active-background-color: none;


@import "~bulma";
@import "~buefy/src/scss/buefy";

/*

Inicio de Variables
Inicio de Variables
Inicio de Variables

*/

$fondoOscuro: #070707;
$textoOscuro: #f5f5f5;
$textoSecundarioOscuro: #616161;

$small: 480px;
$big: 769px;
$hd: 900px;

/*

Inicio de Root
Inicio de Root
Inicio de Root

*/

@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"),
        url(~assets/rifton.ttf) format("truetype");
}

html,
body {
    background-color: $fondoOscuro;
    font-family: "Oxygen";
    cursor: default;
}

/*

Inicio de Navbar
Inicio de Navbar
Inicio de Navbar

*/

.navbar {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    z-index:200;
}

.navbar-brand {
    color: hsl(229deg, 53%, 53%);
    font-size: 2em;
    margin-left: 1em;

    &:hover {
        text-shadow: 0px 0px 70px #2305a8;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a.navbar-item:focus {
    background-color: none;
}

.brillo {
    color: hsl(229deg, 53%, 53%);
}

.navbar-end {
    margin-right: 1em;
}

.navbar-menu {
    margin-right: 0 !important;
}

.main {
    padding-left: 24px;
    padding-right: 24px;
}

/*

Inicio de Clases Generales
Inicio de Clases Generales
Inicio de Clases Generales

*/

.titulo {
    align-items: center;
    text-align: center;
    color: $textoOscuro;
    margin: 5vw;
    font-size: 3.5vw;
}

.borde {
    color: transparent;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 2px;
    font-weight: 400;
    width: fit-content;
    block-size: fit-content;
    transition: all .3s ease-in-out;
    font-size: larger;
    letter-spacing: 0.5vw;
    &:hover {
        color: rgb(255, 255, 255);
        transform: scale(1.1) translateY(-10px);
        text-shadow: 0px 0px 20px #ffffff5a;
        outline-offset: 10px;
        letter-spacing: 0.65vw;
    }
}

.gallery {
    border-radius: 20px;
}

.resaltar {
    font-weight: bolder;
    color: $textoOscuro;
}

.developer {
    color: $textoOscuro;
    transition: .3s ease-in-out;
    &:hover {
        color: #1b0ce9;
    }
}

input {
    all: unset;
}

textarea {
    all: unset;
    width: 100%;
    margin:0;
    padding:0;
}

.columnas {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    margin-bottom: 10vh;
    @media screen and (max-width: $small) {
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (min-width: $small) and (max-width: $big){
        grid-template-columns: repeat(1, 1fr);
    }
    align-items: center;
    justify-content: center;
}

.articulo {
    background: #0e1217;
    box-shadow: none;
    display: flex;
    position: relative;
    padding: 0.5rem;
    flex-direction: column;
    border: 1px solid #a8b3cf33;
    border-radius: 16px;
    &:hover {
        cursor: pointer;
        border: 1px solid #a8b3cf86;
    }
}

.textoArticulo {
    font-family: system-ui;
    font-weight: 700;
    color: $textoOscuro;
    font-size: 1.2em;
}

.subArticulo {
    font-family: system-ui;
    font-weight: 500;
    color: $textoOscuro;
    font-size: 1em;
}

.git {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    background: white;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}

.cuadrado{
    margin-bottom: 1vw;
    padding: 3vw;
    border: 1px solid rgba(168, 179, 207, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    &--submit {
        @extend .cuadrado;
        border: 1px solid rgba(0, 255, 21, 0.5);
    };
}

.enviar{
    margin-bottom: 1vw;
    border: 1px solid rgba(168, 179, 207, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    &--submit {
        @extend .cuadrado;
        border: 1px solid rgba(0, 255, 21, 0.5);
    };
}

.boton{
    &--enviar {
        @extend .boton;
        width: 100%;
        height: 100%;
        padding: 3vw;
        border-radius: 30px;
        background: linear-gradient(90deg, rgb(202 10 240 / 30%) 0%, rgb(140 19 232 / 19%) 35%, rgb(99 20 255 / 58%) 100%);
        text-align: center;
        color: #fff;
        font-family: inherit;
    };
}

.change_color {
    transition: all .3s ease-in-out;
    background-color: #000000cc;
    backdrop-filter: blur(3px);
}

.contact {
    &--up {
        @extend .contact;
        padding-bottom: 0px;
        @media screen and (max-width: $big) {
            padding-bottom: 0.75rem;
        }
    };
    &--down {
        @extend .contact;
        padding-top: 0.75rem;
    };
}

.centrarFlex {
    display: flex;
    align-items: center;
}
.artist {
    color: $textoOscuro;
    transition: .3s ease-in-out;
    &:hover {
        color: #b70ae2;
    };
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.subtitulo {
    align-items: center;
    text-align: center;
    color: $textoSecundarioOscuro;
    letter-spacing: 0.1vw;
}

.photo_section{
    margin-top:5em;
    z-index: 51;
    position:relative;
}

.img {
    border-radius: 30px;
    z-index: 100;
    &--right {
        @extend .img;
        text-align: left;
    };
    &--left {
        @extend .img;
        text-align: right;
    };
}

/*

Inicio de Ruido
Inicio de Ruido
Inicio de Ruido

*/

body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.noise::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    -webkit-animation: tvShow .2s infinite steps(1, end);
    animation: tvShow .2s infinite steps(1, end);
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

body.noise {
    overflow: hidden;
    transition: opacity 1s ease-in-out;
}

@-webkit-keyframes tvShow {
    0% {
        background-image: url(../img/noise.png)
    }

    20% {
        background-image: url(../img/noise2.png)
    }

    40% {
        background-image: url(../img/noise3.png)
    }

    60% {
        background-image: url(../img/noise4.png)
    }

    80% {
        background-image: url(../img/noise2.png)
    }

    100% {
        background-image: url(../img/noise4.png)
    }
}

@keyframes tvShow {
    0% {
        background-image: url("/noise.png")
    }

    20% {
        background-image: url("/noise2.png")
    }

    40% {
        background-image: url("/noise3.png")
    }

    60% {
        background-image: url("/noise4.png")
    }

    80% {
        background-image: url("/noise2.png")
    }

    100% {
        background-image: url("/noise4.png")
    }
}

/*

Inicio de Responsive
Inicio de Responsive
Inicio de Responsive

*/

@media screen and (max-width: $small) {
    .titulo {
        margin-top: 10vw;
        font-size: 8vw;
    }

    .navbar-brand {
        justify-content: center;
        margin-left: 0;
    }

    .b-navbar-item {
        margin: 0 auto;
    }
}
