---
import Layout from "@/layouts/Layout.astro";

import ProyectCard from "@/components/ProyectCard.vue";

import { getCollection } from "astro:content";
const proyects = await getCollection("proyects");
---

<Layout title="test">
  <section class="mx-auto prose prose-lg">
    {proyects.map((post) => <ProyectCard proyect={post} />)}
  </section>
</Layout>
