---
const { title } = Astro.props;
import { Icon } from "astro-icon/components";

import "@fontsource/atkinson-hyperlegible";
import "../styles/base.css";
import "github-markdown-css"

import CommandDialog from "@/components/CommandDialog.vue"
import Navbar from "@/components/Navbar.vue"

import { getCollection } from "astro:content";
const proyects = await getCollection("proyects");
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:load/>
    <CommandDialog client:load proyects={proyects}/>
    <article>
      <slot />
    </article>
  </body>
</html>
