---
const { title } = Astro.props;
import { Icon } from "astro-icon/components";

import "@fontsource/atkinson-hyperlegible";
import "../styles/base.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
